<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>FreePedalBoard.com</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cyborg/bootstrap.min.css" />
        <link rel="stylesheet" href="jff.css">

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="underscore.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="tuna.js"></script>
        <script src="jff.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>FreePedalBoard.com <small>plug in and make some noise</small></h1>
            </div>
            <p>Plug your guitar in and allow the browser to use your input. Then click the bypass buttons to turn on each effect.</p>
            <p>Only works in modern browsers.</p>
            <div id="pedals"></div>
        </div>
        <div id="temaplates">
            <script type="text/template" id="pedal-template">
                <div class="col-xs-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><%= pedal.name %></h3>
                        </div>
                        <div class="panel-body">
                            <% $.each(pedal.defaults, function (key) { %>
                                <% if (key.indexOf('bypass') === -1) { %>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <%= key %>: 
                                    </span>
                                    <input class="form-control" type="text" data-pedal-index="<%= index %>" name="<%= key %>" value="<%= (typeof(pedal[key]) === 'object') ? pedal[key].value : pedal[key] %>">
                                </div>
                                <% } %>
                            <% }) %>
                            <hr />
                            <button class="btn" data-pedal-index="<%= index %>" data-bypass="<%= !pedal.bypass %>">Bypass</button>
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </body>
</html>
